<!DOCTYPE html>
<html lang="es">
<head>
    <!-- metas -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Links css y iconos -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    
    
    <title>{% block title %} Voltex {% endblock %} </title>
</head>
<body>
    <section class="section">
        <div class="container">
            <header>
                {% block header %}

                {% endblock %}
            </header>
            <main>
                {% block main %}

                {% endblock %}
            </main>
            <footer>
                {% block footer %}

                {% endblock %}
            </footer>
        </div>
    </section>
</body>
</html>