{% extends 'base.html' %}
    {% block title %}
        {{ super() }}
            - Calculadora
    {% endblock %}

{% block header %}
    <h1  class="titulo is-size-3" >Bienvenid@ a tu calculadora favorita</h1> <br>
    
{% endblock %}

{% block main %}

    <div class="calculadora">

        <form action="/" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            {{ formulario.numero1 }} <br>
            {{ formulario.operacion }}<br>
            {{ formulario.numero2 }} <br>

            <button class="button is-primary" type="submit">Calcular</button>
        </form>

        {% if resultado %}
            <h5 class="resultado" >Tu resultado es: {{ resultado }}</h5>
            <br>
            </div>
            <div class="historial ">
                <h1 class="is-size-5">Operaciones realizadas :</h1>
                <ul class="is-size-6">
                    {% for line in lineas %}
                        <li>{{ line }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
{% endblock %}
