{% extends 'base.html' %}
    {% block title %}
        {{ super() }}
            - Inicio
    {% endblock %}

{% block main %}

    <h1>Bienvenido a tu calculadora favorita</h1>

    <form action="/" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {{ formulario.numero1 }}
        {{ formulario.operacion }}
        {{ formulario.numero2 }}

        <button class="button is-info" type="submit">Calcular</button>
    
    </form>

    {% if resultado %}
        <h5>Tu resultado es: {{ resultado }}</h5>
    {% endif %}

{% endblock %}
